body {
    font-family: white;
}

#objects-container {
    margin-bottom: 13px;
}

.object {
    border: 1px solid #e64b4b;
    padding: 10px;
    margin-bottom: 10px;
}

.object button {
    margin-left: 100px;
}